<div class="media">
  <a class="media-left" href="#fake">
    <img alt="" class="media-object img-rounded" src="http://placehold.it/64x64">
  </a>
  <div id="<%= @data.key %>" class="media-body">
    <h4 class="media-heading">Media heading</h4>
    <p id="tweetmsg"><%= @data.value %></p>
    <ul class="nav nav-pills nav-pills-custom">
      <li><button><span class="glyphicon glyphicon-retweet"></span></button></li>
    </ul>
  </div>
</div>
